<ion-header>
  <ion-toolbar color="danger">
    <ion-title text-center>
      APP-Cardio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item padding-top>
    <ion-label position="stacked">CPF</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

  <ion-item margin-top>
    <ion-label position="stacked">TELEFONE</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

  <ion-button margin-top expand="full" color="danger" shape="round">
    Atualizar
  </ion-button>

  <ion-button margin-top expand="full" color="danger" shape="round">
    Remover paciente
  </ion-button>

  <ion-button margin-top expand="full" color="danger" shape="round">
    Histórico de consultas
  </ion-button>
</ion-content>
