<ion-header>
  <ion-toolbar color="danger">
    <ion-title text-center>APP-Cardio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item text-center>
    <ion-label color="dark">Criar nova conta</ion-label>
  </ion-item>

  <ion-item padding-top>
    <ion-input type="email" text-center placeholder="Email">
      <ion-icon  name="person"></ion-icon>
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="password" text-center placeholder="Senha">
      <ion-icon name="unlock"></ion-icon>
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="password" text-center placeholder="Confirmar senha">
      <ion-icon name="unlock"></ion-icon>
    </ion-input>
  </ion-item>

  <ion-button margin-top expand="full" color="danger" shape="round">
    Cadastrar
  </ion-button>
</ion-content>
